@import url('https://fonts.googleapis.com/css2?family=Bonbon&family=Iceland&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {}

ol {
    padding-inline-start: 0px;
    display: grid;
    gap: 10px 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background-color: rgba(20, 187, 187, .9);

}

li {
    list-style: none;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(138, 43, 179, 0.9);
    color: whitesmoke;
}

img {
    height: 300px;
    z-index: 20px;
}

.container {
    padding: 2px 16px;
}

.popup {
    top: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    opacity: .95;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body */
.modal-body {
    height: 100vh;
    width: 100vw;
    background: transparent;
    background-color: rgb(34, 87, 202);
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Content */
.modal-content {
    position: absolute;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0.5
    }

    to {
        top: 0;
        opacity: .9
    }
}



.close {
    float: right;
    cursor: pointer;
    color: red;
    font-size: large;
    margin:40px 50px;
}